.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
  width: 50%;
  margin: 10px auto 0;
  border: 1px solid black;
  padding: 0;
}

ul > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}

.top-links-board {
  margin-top: 20px;
}

.top-links-board-title {
  font-weight: bold;
}

li {
  margin-bottom: 10px;
  padding: 0;
}

.shorten-url {
  height: 39px;
  width: 240px;
  font-size: 20px;
  text-align: center;
}

input[type=submit] {
  margin-left: 10px;
}

.shortened-url {
  color: #23d023;
}

.shortened-url-declaration {
  font-size: 18px;
}
